<package-def>
    <class name="КомандаВыгрузитьХранилище" file="src/cmd/Классы/КомандаВыгрузитьХранилище.os"/>
    <class name="КомандаПодготовитьОбновление" file="src/cmd/Классы/КомандаПодготовитьОбновление.os"/>
    <class name="КомандаСобратьИзРепозитариев" file="src/cmd/Классы/КомандаСобратьИзРепозитариев.os"/>
    <class name="МенеджерСинхронизации" file="src/core/Классы/МенеджерСинхронизации.os"/>
    <module name="ОбщиеМетоды" file="src/cmd/Модули/ОбщиеМетоды.os"/>
    <module name="ПараметрыПриложения" file="src/cmd/Модули/ПараметрыПриложения.os"/>
    <module name="ПараметрыСистемы" file="src/core/Модули/ПараметрыСистемы.os"/>
</package-def>