<package-def>
    <class name="КомандаВыгрузитьХранилище" file="cmd/Классы/КомандаВыгрузитьХранилище.os"/>
    <class name="КомандаПодготовитьОбновление" file="cmd/Классы/КомандаПодготовитьОбновление.os"/>
    <class name="КомандаСобратьИзРепозитариев" file="cmd/Классы/КомандаСобратьИзРепозитариев.os"/>
    <class name="МенеджерСинхронизации" file="core/Классы/МенеджерСинхронизации.os"/>
    <module name="ОбщиеМетоды" file="cmd/Модули/ОбщиеМетоды.os"/>
    <module name="ПараметрыПриложения" file="cmd/Модули/ПараметрыПриложения.os"/>
    <module name="ПараметрыСистемы" file="core/Модули/ПараметрыСистемы.os"/>
</package-def>